HamsterFeeder/NodeRedFeedMyHamsterCode.txt
[{"id":"3dff0fc4.e9e458","type":"twitter in","z":"2caea36e.c29194","twitter":"","tags":"#feedmyhamster","user":"false","name":"#feedmyhamster","topic":"tweets","x":378,"y":525,"wires":[["4f26bb2a.466f24","d64b6d8d.2f90f"]]},{"id":"1431b87b.fe1028","type":"rpi-gpio out","z":"2caea36e.c29194","name":"motor","pin":"37","set":"","level":"0","out":"out","x":804,"y":433,"wires":[]},{"id":"d52505a5.6aa3b","type":"inject","z":"2caea36e.c29194","name":"on","topic":"","payload":"1","payloadType":"string","repeat":"","crontab":"","once":false,"x":559,"y":456,"wires":[["1431b87b.fe1028"]]},{"id":"cf97b073.e740d8","type":"inject","z":"2caea36e.c29194","name":"off","topic":"","payload":"0","payloadType":"string","repeat":"","crontab":"","once":false,"x":554,"y":384,"wires":[["1431b87b.fe1028"]]},{"id":"4f26bb2a.466f24","type":"change","z":"2caea36e.c29194","name":"on","rules":[{"t":"set","p":"payload","to":"1"}],"action":"","property":"","from":"","to":"","reg":false,"x":575,"y":517,"wires":[["1431b87b.fe1028"]]},{"id":"d64b6d8d.2f90f","type":"delay","z":"2caea36e.c29194","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":583,"y":561,"wires":[["17f1ad74.130db3"]]},{"id":"17f1ad74.130db3","type":"change","z":"2caea36e.c29194","name":"off","rules":[{"t":"set","p":"payload","to":"0"}],"action":"","property":"","from":"","to":"","reg":false,"x":742,"y":562,"wires":[["1431b87b.fe1028"]]}]